<!-- about section starts  -->

<section class="about" id="about">

    <div class="image">
        <img src="images/about-img.png" alt="">
    </div>

    <div class="content">
        <h1 class="heading">About Our Foundation</h1>
        <p>You are more than welcome from Sparks Educational Fund. Our Charity was started to help the needy students for their studies. You can chip in the amount, how much you can to the given payment integration method. Your contribution will help one's life to glow. You can contact us freely at any time, that you require.</p>
    </div>

</section>

<!-- about section ends -->