<!-- contact section starts  -->

<section class="contact" id="contact">

<h1 class="heading">Get In Contact</h1>

<form action="/contact" method="POST">

    <div class="inputBox">
        <input type="text" placeholder="First name" name="first_name">
        <input type="text" placeholder="Last name" name="last_name">
    </div>

    <div class="inputBox">
        <input type="email" placeholder="Enter your email" name="email">
    </div>

    <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>

    <input type="submit" value="Get in Touch" class="btn">

</form>

</section>

<!-- contact section ends -->