<!-- footer section starts  -->

<section class="footer">

<div class="box-container">

    <div class="box">
        <h3>why donation?</h3>
        <p>Family giving creates a bond, helping to bolster relationships through a shared goal and raising more money than could otherwise be possible through individual donations.</p>
    </div>

    <div class="box">
        <h3>quick links</h3>
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#story">Story</a>
        <a href="#contact">Contact</a>
    </div>

    <div class="box">
        <h3>Contact us</h3>
        <p> <i class="fas fa-map-marker-alt"></i> Tenkasi, Tamil Nadu, India - 627862 </p>
        <p> <i class="fas fa-globe"></i> <a href="https://www.thesparksfoundationsingapore.org/"> www.thesparksfoundationsingapore.org </a></p>
        <p> <i class="fas fa-phone"></i> +91 9876543210 </p>
    </div>

</div>

<h1 class="credit"> Designed and Developed by <a href="#">Brundha S K</a> | all rights reserved. </h1>

</section>

<!-- footer section ends -->
