<!-- heading section starts  -->

<header>

    <a href="#" class="logo"><i class="fas fa-user-graduate"></i> 'Let's Educate'</a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#story">Story</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

</header>

<!-- heading section ends -->