<!-- story section starts  -->

<section class="story" id="story">

    <div class="image">
        <img src="images/story-img.png" alt="">
    </div>

    <div class="content">
        <h1 class="heading">Story</h1>
        <ul>
            <li> <i class="fas fa-check-double"></i> Education breeds Confidence </li>
            <li> <i class="fas fa-check-double"></i> Confidence breeds Hope </li>
            <li> <i class="fas fa-check-double"></i> Hope breeds Peace </li>
        </ul>
        <p>Through Our Charity, A girl Who belongs to the below poverty line has raised up in her Higher Studies. With their family background, she completed her schooling and by our help, now she completed her degree and she was working as a software developer in reputed company. Here, Education breeds her confidence to win and confidence breeds Hope to face the world, then Hope breeds her Peace in her life.</p>
    </div>

</section>

<!-- story section ends -->